.mainh{
    background-color: $color-claro;
}

.fondotitulo{
    background-color: $color-verde1;
    text-align: center;
    padding: 20px 0 15px 0;
}

.cajah{
    margin: 30px 30px 30px 30px;
    text-align: center;
    .tituloh{
        font-size: 25px;
    }
}

.imge{
    padding-top: 15px;
}

.emoticoness{
    height: 40px;
    margin: 0 15px 0 15px;
}

.emoticonn{
    height: 60px;
    margin: 0px 15px 0px 15px;
}

.textosh{
    text-align: center;}

.textitoo{
    font-size: 20px;
    width: 300px;
    text-align: center;
} 