.main{
    background-color: $color-claro;
}
.prodint{
    background-color: $color-verde1;
    text-align: center;
    padding: 20px 0 15px 0;
}

.cajap{
    margin: 30px 30px 30px 30px;
    text-align: center;
    .titulop{
        font-size: 25px;
    }
}
.siempre{
    height: 265px;
    width: 265px;
}
.img{
    padding-top: 15px;
}

.emoticones{
    height: 40px;
    margin: 0 15px 0 15px;
}

.emoticon{
    height: 60px;
    margin: 0px 15px 0px 15px;
}

.textos{
    text-align: center;}

.textito{
    font-size: 20px;
    width: 300px;
    text-align: center;
} 

