$color-white: white;
$color-verde: #5bdd54;
$color-verde1: #63bb63;
$verde-claro: #c2e7bd;
$color-claro: #fff0c5;
$color-cremita: #ffc399;
$color-negro: black;
$color-fucsia: rgb(212, 84, 180);

@import "hnf";
@import "index";
@import "tips";
@import "plantas";
@import "huerta";
@import "contacto";

